<%- include("partials/header.ejs") %>
    <form action="homepage" method="post">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-left py-3 mb-4 border-bottom">
                <label for="blog-header" class="form-label">Enter your header here:</label>
                <textarea class="form-control mb-3" id="blog-header" name="blog-header" rows="1" required></textarea>
                <label for="blog-content" class="form-label">Enter your blog content here:</label>
                <textarea class="form-control mb-3" id="textarea-tinymce" name="blog-content" rows="3" required></textarea>
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </div>
    </form>
<%- include("partials/footer.ejs") %>